@tailwind components;

@layer components {

    .storycard > * {
        @apply m-1
    }

    .review-icon {
        /* font-size: 15px; */
        @apply m-1
    }

}

/* Mobile */
@media (max-width: 800px) {
    .review-icon {
        font-size: 15px;
    }

    .story-segments {
        max-height: 50svh;
    }
}

/* Wide screen */
@media (min-width: 800px) {
    .review-icon {
        font-size: 25px;
    }

    /* .story-list {
        max-height: 85%;
    } */
}